<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-lgu.html">
<link rel="lazy-import" href="my-nus.html">
<link rel="lazy-import" href="my-out.html">
<link rel="lazy-import" href="my-vsc.html">
<link rel="lazy-import" href="my-vsm.html">
<link rel="lazy-import" href="my-vst.html">
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">

<!--Inicio de librerías Bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--Fin de librerías Bootstrap -->

<!--Inicio de librerías google icon -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!--Fin de librerías google icon -->

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;

        font-size: 22px;

        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        scroll-behavior: smooth;
        line-height: 1.5;
      }
      app-header-layout {
        background: radial-gradient(rgb(30,88,255), rgb(164,212,255));
        box-shadow:0px -50px 50px 15px rgb(164,212,255) inset;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      /*Inicio de mis modificaciones*/
      iron-pages {
        width: 100%;
      }
      #cajaMenu {
        border-color: rgb(0,0,0);
        border-right-style: double;
        border-right-width: 4px;
        padding-right: 4px;
        margin-right: 4px;
      }
      footer {
        position:fixed;
        bottom:0;
        width: 100%;
        text-align: center;
        background-color: RGB(0,51,153);
      }
      #footerTexto:link {
        color: rgb(51,122,183);
      }
      #footerTexto:visited {
        color: rgb(51,122,183);
      }
      #footerTexto:hover {
        color: rgb(255,255,255);
      }
      #footerTexto:active {
        color: rgb(51,122,183);
      }

      /*Fin mis de modificaciones*/

    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <!--
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="row" role="navigation">
          <a name="view1" href="[[rootPath]]view1">View One</a>
          <a name="view2" href="[[rootPath]]view2">View Two</a>
          <a name="view3" href="[[rootPath]]view3">View Three</a>
        </iron-selector>
      </app-drawer>
      -->

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title style="font-style:italic; font-weight:bold; font-size: 25px">GERECU</div>
            <!--Inicio mis modifcaciones-->
            <iron-selector selected="[[page]]" attr-for-selected="name" class="row" role="navigation">
              <div id="cajaLogin" hidden$="{{!verlogin}}">
                <a name="lgu" href="[[rootPath]]lgu" class="btn btn-info btn-lg" style="font-size: 22px">
                  <span class="glyphicon glyphicon-log-in"></span>
                  Entrar
                </a>
                <a name="nus" href="[[rootPath]]nus" class="btn btn-info btn-lg" style="font-size: 22px">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  Nuevo Usuario
                </a>
              </div>
              <div id="cajaMenu" hidden$="{{!verlogout}}">
                <!--
                <a name="vsc" href="[[rootPath]]vsc" class="btn btn-info btn-lg" style="font-size: 22px">
                  Cuentas
                </a>
                -->
              </div>
              <div id="cajaLogout" hidden$="{{!verlogout}}">
                <a href="[[rootPath]]per" style="color: rgb(255,255,255);">{{nombre}} {{apellido}} </a>
                <a name="out" href="[[rootPath]]out" class="btn btn-info btn-lg" style="font-size: 22px">
                  <span class="glyphicon glyphicon-log-out"></span>
                  Salir
                </a>
              </div>
            </iron-selector>
            <!--Fin mis modificaciones-->
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-lgu name="lgu" on-logado="procesar"></my-lgu>
          <my-nus name="nus" on-altausuario="procesar"></my-nus>
          <my-out name="out" on-exit="adios"></my-out>
          <my-vsc name="vsc" idcliente={{id}} entradavsc ={{entradavsc}} on-eventomov="listarMovimientos" on-eventotransfe="ejecutarTransferencia"></my-vsc>
          <my-vsm name="vsm" idcliente={{idcliente}} iban ={{iban}} entradavsm ={{entradavsm}} on-volverdevsm="procesar"></my-vsm>
          <my-vst name="vst" idcliente={{idcliente}} iban ={{iban}} on-volverdevst="procesar"></my-vst>
          <my-per name="per"></my-per>
          <my-view1 name="view1"></my-view1>
          <my-view2 name="view2"></my-view2>
          <my-view3 name="view3"></my-view3>
          <my-view404 name="view404"></my-view404>
        </iron-pages>

        <!--Inicio de mi añadido-->
        <footer style="position:fixed;bottom:0">
          <a id="footerTexto" href="https://www.bbva.es/particulares/index.jsp" target="_blank">¡Visita la Web de BBVA!</a>
        </footer>
        <!--Fin de mi añadido-->
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          verlogin: {
            type: Boolean,
            value: true
          },
          verlogout: {
            type: Boolean,
            value: false
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        //if (!this.$.drawer.persistent) {
          //this.$.drawer.close();
        //}
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showView1.bind(this),
            true);
      }

      _showView1() {
        this.page = 'view1';
      }

      procesar(e) {
        console.log("emisor me ha dicho algo")
        //console.log(e)
        console.log("1. Procesar")
        this.id = e.detail.id
        this.nombre = window.sessionStorage.getItem("sessionFirstName")
        this.apellido = window.sessionStorage.getItem("sessionLastName")
        this.verlogin = false
        this.verlogout = true
        this.entradavsc=e.detail.entradavsc
        console.log(this.id)
        console.log("entradavsc: ",this.entradavsc)
        //this.estoylogado = true
        this.page = "vsc"
      }

      adios(e) {
        this.page = "view1"
        this.nombre = null
        this.apellido = null
        this.verlogin = true
        this.verlogout = false
      }

      listarMovimientos(e) {
        console.log("entra en listar movimientos")
        this.iban = e.detail.iban
        this.idcliente=e.detail.idcliente
        this.entradavsm=e.detail.entradavsm
        console.log("iban: ",this.iban)
        console.log("idcliente: ",this.idcliente)
        console.log("entradavsm: ",this.entradavsm)
        this.page = "vsm"
      }
      ejecutarTransferencia(e) {
        console.log("entra en ejecutarTransferencia")
        this.iban = e.detail.iban
        this.idcliente=e.detail.idcliente
        console.log("IBAN: ", this.iban)
        console.log("idcliente: ",this.idcliente)
        this.page = "vst"
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>

</dom-module>
