<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-lgu">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        font-size: 22px;

        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        scroll-behavior: smooth;
        line-height: 1.5;
      }
      #cabezeraLogin {
        width: 33.33%;
        font-size: 22px;
        /*border-style: solid;*/
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        margin: 0% 33.33% 0% 33.33%;
      }
      #cuadroLogin {
        /*max-width: 350px;*/
        width: 33.33%;
        /*border-style: solid;*/
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        padding-bottom: 10px;
        margin: 1% 33.33% 1% 33.33%;
      }
      #introduccionLogin {
        padding-left: 0px;
        padding-right: 0px;
      }
      #formLogin {
        padding-top: 10px;
        padding-bottom: 10px;
        width:100%;
        font-size: 22px;
      }
      .inputLogin {
        width:75%;
        border-radius: 50px 50px 50px 50px;
      }
      #cuadroErrorMensaje {
        /*max-width: 350px;*/
        width: 33.33%;
        font-size: 12px;
        /*border-style: solid;*/
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        padding-bottom: 10px;
        margin: 0% 33.33% 0% 33.33%;
      }
    </style>

    <iron-ajax id="hacerLogin"
               url="http://miapi-apitechuaagz.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/login/"
               method="POST"
               handle-a="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarError">
    </iron-ajax>

    <div id="cabezeraLogin" align="center">
      <p>Iniciar sesión</p>
    </div>
    <div id="cuadroLogin" align="center">
      <div id="introduccionLogin">
        <p>Hola,</p>
        <p>Identifícate, por favor</p>
      </div>
      <form id="formLogin">
        <div>
          <!--<span class="glyphicon glyphicon-user"></span>-->
          Dirección de e-mail:<br>
          <input class="inputLogin" type="email" value="{{email::input}}"/>
        </div>
        <div>
          <!--<span class="glyphicon glyphicon-lock"></span>-->
          Contraseña:<br>
          <input class="inputLogin" type="password" value="{{password::input}}"/>
        </div>
      </form>
      <div id="formLogin">
        <button class="btn btn-success btn-lg" style="width:75%; border-radius: 50px 50px 50px 50px;font-size: 22px;" on-click="logar">Entrar</button>
      </div>
    </div>
    <div id="cuadroErrorMensaje" hidden$="{{!errorlogado}}" align="center">
      <p style="margin:5%">{{errormensaje}}</p>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyLgu extends Polymer.Element {
      static get is() { return 'my-lgu'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          errorlogado: {
            type: Boolean,
            value: false
          },
          errormensaje: {
            type: String
          }
        };
      }
      mostrarResultadoLogin(resultado)  {
        console.log("4. llegaron los resultados")
        console.log(resultado)
        console.log("5. proceso los resultados")
        this.logado = true
        this.errorlogado = false

        const entradavsc2 = Number(window.sessionStorage.getItem("sessionEntradaVsc")) + 1
        window.sessionStorage.setItem("sessionEntradaVsc", entradavsc2)
        console.log("entradavsc2: ", entradavsc2)

        const entradavsc2id = entradavsc2 + "id" + resultado.detail.response.id
        console.log("entradavsc2id: ", entradavsc2id)

        //Inicio de guardar el id del cliente en una variable sessionStorage
        window.sessionStorage.setItem("sessionIdCliente", resultado.detail.response.id)
        window.sessionStorage.setItem("sessionFirstName", resultado.detail.response.first_name)
        window.sessionStorage.setItem("sessionLastName", resultado.detail.response.last_name)
        window.sessionStorage.setItem("sessionEmail", resultado.detail.response.email)
        window.sessionStorage.setItem("sessionGender", resultado.detail.response.gender)
        window.sessionStorage.setItem("sessionCountry", resultado.detail.response.country)
        //Fin de guardar el id del cliente en una variable sessionStorage

        /*lanza el evento personalizado*/
        this.dispatchEvent(new CustomEvent("logado", {"detail": {"id":resultado.detail.response.id,"entradavsc":entradavsc2id}}))
      }
      logar() {
        console.log("1. el usuario a pulsado el botón")
        this.$.hacerLogin.headers.email = this.email
        this.$.hacerLogin.headers.password = this.password
        console.log(this.email)
        console.log(this.password)
        this.email = null
        this.password = null

        //Inicio de inicializar las variables de sessionStorage para cambiar de vista
        window.sessionStorage.setItem("sessionEntradaVsc", 0)
        window.sessionStorage.setItem("sessionEntradaVsm", 0)
        //Fin de inicializar las variables de sessionStorage para cambiar de vista

        console.log("2. petición enviada")
        this.$.hacerLogin.generateRequest()
        console.log("3. petición enviada")
      }
      mostrarError(error){
        console.log("4. llega el error")
        console.log(error)
        this.logado = false
        this.errorlogado = true
        this.errormensaje = "La combinación de e-mail y contraseña que has introducido no es válida"
      }
    }

    window.customElements.define(MyLgu.is, MyLgu);
  </script>
</dom-module>
