<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-nus">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        font-size: 22px;

        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        scroll-behavior: smooth;
        line-height: 1.5;
      }
      #cabezeraNuevoUsuario {
        width: 50%;
        font-size: 22px;
        /*border-style: solid;*/
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        margin: 0% 25% 0% 25%;
      }
      #cuadroNuevoUsuario {
        /*max-width: 350px;*/
        width: 50%;
        /*border-style: solid;*/
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        padding-bottom: 10px;
        margin: 1% 25% 5% 25%;
      }
      #introduccionNuevoUsuario {
        padding-left: 0px;
        padding-right: 0px;
      }
      #formNuevoUsuario {
        padding-top: 10px;
        padding-bottom: 10px;
        width:100%;
        font-size: 22px;
      }
      .inputNuevoUsuario {
        width:75%;
        border-radius: 50px 50px 50px 50px;
      }
      #cuadroErrorMensaje {
        /*max-width: 350px;*/
        width: 50%;
        font-size: 12px;
        /*border-style: solid;*/
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        padding-bottom: 10px;
        margin: 0% 25% 5% 25%;
      }
    </style>

    <iron-ajax id="crearUsuario"
               url="http://miapi-apitechuaagz.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/altausuarios"
               method="POST"
               handle-a="json"
               on-response="mostrarNuevoUsuario"
               on-error="mostrarError">
    </iron-ajax>

    <div id="cabezeraNuevoUsuario" align="center">
      <p>Regístrate</p>
    </div>
    <div id="cuadroNuevoUsuario" class="row" align="center">
      <div id="introduccionNuevoUsuario" align="center">
        <p>Hola,</p>
        <p>¿Preparado para sentir la esencia del puro control de tus cuentas?</p>
      </div>
      <form id="formNuevoUsuario">
        <div>
          Nombre:<br>
          <input class="inputNuevoUsuario" type="first_name" value="{{first_name::input}}"/>
        </div>
        <div>
          Primer apellido:<br>
          <input class="inputNuevoUsuario" type="last_name" value="{{last_name::input}}"/>
        </div>
        <div>
          Género:<br>
          <select class="inputNuevoUsuario" type="gender" value="{{gender::input}}"/>
            <option value=""></option>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
          </select>
        </div>
        <div>
          País:<br>
          <input class="inputNuevoUsuario" type="country" value="{{country::input}}"/>
        </div>
        <div>
          Dirección de e-mail:<br>
          <input class="inputNuevoUsuario" type="email" value="{{email::input}}"/>
        </div>
        <div>
          Contraseña:<br>
          <input class="inputNuevoUsuario" type="password" value="{{password::input}}"/>
        </div>
      </form>
      <div id="formNuevoUsuario">
        <button class="btn btn-success btn-lg" style="width:75%; border-radius: 50px 50px 50px 50px;font-size: 22px;" on-click="crearNuevoUsuario" align="center">Alta</button>
      <div>
    </div>
    <div id="cuadroErrorMensaje" hidden$="{{!errorlogado}}" align="center">
      <p style="margin:5%">{{errormensaje}}</p>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyNus extends Polymer.Element {
      static get is() { return 'my-nus'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          gender: {
            type: String
          },
          country: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          errorlogado: {
            type: Boolean,
            value: false
          },
          errormensaje: {
            type: String
          }
        };
      }

      mostrarNuevoUsuario(resultado)  {
        console.log("Entra en mostrarNuevoUsuario")
        console.log(resultado)
        console.log("resultado.detail.response.id: ", resultado.detail.response.id)
        this.logado = true

        const entradavsc2 = Number(window.sessionStorage.getItem("sessionEntradaVsc")) + 1
        window.sessionStorage.setItem("sessionEntradaVsc", entradavsc2)
        console.log("entradavsc2: ", entradavsc2)
        const entradavsc2id = entradavsc2 + "id" + resultado.detail.response.id
        console.log("entradavsc2id: ", entradavsc2id)

        //Inicio de guardar el id del cliente en una variable sessionStorage
        window.sessionStorage.setItem("sessionIdCliente", resultado.detail.response.id)
        window.sessionStorage.setItem("sessionFirstName", resultado.detail.response.first_name)
        window.sessionStorage.setItem("sessionLastName", resultado.detail.response.last_name)
        window.sessionStorage.setItem("sessionEmail", resultado.detail.response.email)
        window.sessionStorage.setItem("sessionGender", resultado.detail.response.gender)
        window.sessionStorage.setItem("sessionCountry", resultado.detail.response.country)
        //Fin de guardar el id del cliente en una variable sessionStorage

        /*lanza el evento personalizado*/
        this.dispatchEvent(new CustomEvent("altausuario", {"detail": {"id":resultado.detail.response.id,"entradavsc":entradavsc2id}}))
      }
      crearNuevoUsuario() {
        console.log("1. el usuario a pulsado el botón")
        this.$.crearUsuario.headers.first_name = this.first_name
        this.$.crearUsuario.headers.last_name = this.last_name
        this.$.crearUsuario.headers.gender = this.gender
        this.$.crearUsuario.headers.country = this.country
        this.$.crearUsuario.headers.email = this.email
        this.$.crearUsuario.headers.password = this.password
        console.log("first_name: ", this.first_name)
        console.log("last_name: ", this.last_name)
        console.log("gender: ", this.gender)
        console.log("country: ", this.country)
        console.log("email: ", this.email)
        console.log("password: ", this.password)
        this.first_name = null
        this.last_name = null
        this.gender = null
        this.country = null
        this.email = null
        this.password = null

        //Inicio de inicializar las variables de sessionStorage para cambiar de vista
        window.sessionStorage.setItem("sessionEntradaVsc", 0)
        window.sessionStorage.setItem("sessionEntradaVsm", 0)
        //Fin de inicializar las variables de sessionStorage para cambiar de vista

        console.log("2. petición enviada")
        this.$.crearUsuario.generateRequest()
        console.log("3. petición enviada")
      }
      mostrarError(error){
        console.log("4. llega el error")
        console.log(error)
        this.logado = false
        this.errorlogado = true
        /*
        if (error == "Operacion:Alta usuarios,Resultado:KO,Detalle:Email ya existente") {
        */
        //Muestra el mensaje de error que devuelve la api
        console.log("mostrar mensaje error: ", error.detail.request.xhr.response)
        //Muestra el código de error que devuelve la api
        console.log("mostrar código error: ", error.detail.request.xhr.status)
        if (error.detail.request.xhr.status == 409) {
          this.errormensaje = "Hemos detectado que ya existe un cliente con ese e-mail"
        }
        else {
          this.errormensaje = "Revise los datos, por favor"
        }
      }
    }

    window.customElements.define(MyNus.is, MyNus);
  </script>
</dom-module>
