<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-out">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        font-size: 22px;

        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        scroll-behavior: smooth;
        line-height: 1.5;
      }
      #salirOpciones {
        width: 80%;
        font-size: 22px;
        background: radial-gradient(white, black);
        border-radius: 50% 50% 50% 50%;
        padding: 6% 0% 6% 0%;
        margin: 4% 10% 0% 10%;
      }
      #salirApp {
        width: 80%;
        background: radial-gradient(white, grey);
        border-radius: 100px 100px 100px 100px;
        padding: 1% 0% 1% 0%;
        margin: 0% 10% 0% 10%;
      }
      #vorverVsc {
        width: 80%;
        background: radial-gradient(white, grey);
        border-radius: 100px 100px 100px 100px;
        padding: 1% 0% 1% 0%;
        margin: 5% 10% 4% 10%;
      }

    </style>

    <iron-ajax id="hacerLogout"
               url="http://miapi-apitechuaagz.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/logout"
               method="POST"
               handle-a="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarError">
    </iron-ajax>

    <div id="salirOpciones" align="center">
      <p>¿Estás seguro de que quieres salir?<p>
      <div id="salirApp">
        <a href="" class="button" on-click="salir">Pulse aquí para confirmar la acción</a>
      </div>
      <div id="vorverVsc">
        <a href="vsc" class="button">Pulse aquí para cancelar la acción</a>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyOut extends Polymer.Element {
      static get is() { return 'my-out'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          },
          logado: {
            type: Boolean,
            value: true
          }
        };
      }
      mostrarResultadoLogin(resultado)  {
        console.log("4. llegaron los resultados")
        console.log(resultado)
        console.log("5. proceso los resultados")
        this.logado = false

        //Inicio de borrar las variables de sessionStorage para cambiar de vista
        window.sessionStorage.removeItem("sessionEntradaVsc")
        window.sessionStorage.removeItem("sessionEntradaVsm")
        window.sessionStorage.removeItem("sessionIdCliente")
        window.sessionStorage.removeItem("sessionFirstName")
        window.sessionStorage.removeItem("sessionLastName")
        window.sessionStorage.removeItem("sessionEmail")
        window.sessionStorage.removeItem("sessionGender")
        window.sessionStorage.removeItem("sessionCountry")
        this.session = null
        //Fin de borrar las variables de sessionStorage para cambiar de vista

        /*lanza el evento personalizado*/
        this.dispatchEvent(new CustomEvent("exit", {"detail": {"id":resultado.detail.response.id}}))
      }
      salir() {
        console.log("1. entra en salir")
        this.idcliente = Number(window.sessionStorage.getItem("sessionIdCliente"))
        this.$.hacerLogout.headers.id = this.idcliente
        console.log(this.idcliente)
        console.log("2. antes de enviar la petición de logout")
        this.$.hacerLogout.generateRequest()
        console.log("3. después de enviar la petición de logout")
      }
      mostrarError(error){
        console.log("4. llega el error")
        console.log(error)
        this.logado = false
      }
    }

    window.customElements.define(MyOut.is, MyOut);
  </script>
</dom-module>
