<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-per">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        font-size: 22px;

        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        scroll-behavior: smooth;
        line-height: 1.5;
      }
      #cuadroPerfil {
        /*max-width: 350px;*/
        width: 33.33%;
        /*border-style: solid;*/
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        padding-bottom: 10px;
        margin: 1% 33.33% 1% 33.33%;
      }
      #introduccionPerfil {
        padding-left: 0px;
        padding-right: 0px;
      }
      #formPerfil {
        padding-top: 10px;
        padding-bottom: 10px;
        width:100%;
        font-size: 22px;
      }
      .inputPerfil {
        width:75%;
        border-radius: 50px 50px 50px 50px;
      }

    </style>

    <div id="cuadroPerfil" align="center" hidden$="{{verPerfil}}">
      <a href="per" class="button" style="width:75%; color: rgb(0,0,0); border-radius: 50px 50px 50px 50px;font-size: 22px;" on-click="ejecutarPerfil">Pulsa aquí si confirmas ver tus datos</a>
    </div>
    <div id="cuadroPerfil" align="center" hidden$="{{verPerfil}}">
      <a href="vsc" class="button" style="width:75%; color: rgb(0,0,0); border-radius: 50px 50px 50px 50px;font-size: 22px;" on-click="volverPerfil">Pulsa aquí si no quieres ver tus datos</a>
    </div>
    <div id="cuadroPerfil" align="center" hidden$="{{!verPerfil}}">
      <div id="introduccionPerfil">
        <p>Estos son tus datos de perfil:</p>
      </div>
      <form id="formPerfil">
        <div>
          Nombre:<br>
          <input class="inputPerfil" type="first_name" value="{{first_name::input}}" readonly disabled/>
        </div>
        <div>
          Primer apellido:<br>
          <input class="inputPerfil" type="last_name" value="{{last_name::input}}" readonly disabled/>
        </div>
        <div>
          Género:<br>
          <input class="inputPerfil" type="gender" value="{{gender::input}}" readonly disabled/>
        </div>
        <div>
          País:<br>
          <input class="inputPerfil" type="country" value="{{country::input}}" readonly disabled/>
        </div>
        <div>
          Dirección de e-mail:<br>
          <input class="inputPerfil" type="email" value="{{email::input}}" readonly disabled/>
        </div>
      </form>
      <div id="formPerfil">
        <a href="vsc" class="btn btn-info btn-lg" style="width:75%; border-radius: 50px 50px 50px 50px;font-size: 22px;" on-click="volverPerfil">Volver</a>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyPer extends Polymer.Element {
      static get is() { return 'my-per'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          gender: {
            type: String
          },
          country: {
            type: String
          },
          email: {
            type: String
          },
          verPerfil: {
            type: Boolean,
            value: false
          }
        };
      }

      ejecutarPerfil() {
        this.first_name = window.sessionStorage.getItem("sessionFirstName")
        this.last_name = window.sessionStorage.getItem("sessionLastName")
        this.gender = window.sessionStorage.getItem("sessionGender")
        this.country = window.sessionStorage.getItem("sessionCountry")
        this.email = window.sessionStorage.getItem("sessionEmail")
        this.verPerfil = true
      }

      volverPerfil() {
        this.first_name = null
        this.last_name = null
        this.gender = null
        this.country = null
        this.email = null
        this.verPerfil = false
      }
    }

    window.customElements.define(MyPer.is, MyPer);
  </script>
</dom-module>
