<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!--Inicio de gráfica de movimientos-->
<link rel = "import" href = "../../bower_components/google-chart/google-chart.html">
<!--Fin de gráfica de movimientos-->

<dom-module id="my-vsm">

  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style include="shared-styles">
      [hidden]  {
        display: none !important;
      }
      :host {
        display: block;

        padding: 10px;

        font-size: 22px;
      }
      #tablaMovimientos1Izquierda {
        width: 33%;
        height: 250px;
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        margin: 0px 0px 0px 5px;
        padding: 10px 10px 10px 15px;
      }

      #tablaMovimientos1Centro {
        width: 33%;
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
      }

      google-chart {
        width: 370px;
        height: 170px;
      }

      #tablaMovimientos1Derecha {
        width: 33%;
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        padding: 10px;
        z-index: -2;
      }

      #botones {
        width: 100%;
        height: 100%;
        background: radial-gradient(white, grey);
        border-radius: 100px 100px 100px 100px;
        padding: 10px 10px 10px 10px;
        margin: 5px 0px 0px 0px;
      }
      #botones:hover {
        background: radial-gradient(rgb(255,255,255), rgb(211,211,211));
      }
      #nobotones1 {
        width: 100%;
        height: 100%;
        background: radial-gradient(white, grey);
        border-radius: 100px 100px 100px 100px;
        padding: 10px 10px 10px 10px;
        margin: 5px 0px 0px 0px;
      }

      #nobotones2 {
        width: 100%;
        height: 100%;
        background: radial-gradient(white, grey);
        border-radius: 100px 100px 100px 100px;
        padding: 10px 10px 10px 10px;
        margin: 5px 0px 0px 0px;
      }
      #boton {
        width: 33%;
      }
      #barra {
        background: radial-gradient(white, grey);
        border-radius: 100px 100px 100px 100px;
        padding: 10px 10px 10px 10px;
        margin: 5px 0px 0px 0px;
      }

      /* Create two equal columns that floats next to each other */
      .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        margin: 0px 1px 0px 1px
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

    </style>

    <iron-ajax id="obtenerMovimientos"
               url="http://miapi-apitechuaagz.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/movimientocuenta"
               handle-a="json"
               on-response="mostrarMovimientos"
               on-error="mostrarErrorMovimientos">
    </iron-ajax>
    <div id="tablaMovimientos1" class="row">
      <div id="tablaMovimientos1Izquierda" class="column">
        <div>
          <p style="font-weight: bold;">IBAN: </p>
          <p>{{iban}}</p>
        </div>
        <template is="dom-repeat" items="{{cuentas}}">
          <div>
            <p style="font-weight: bold;">SALDO: </p>
            <p>{{item.saldo}}</p>
          </div>
        </template>
      </div>

      <!--Inicio de gráfica de movimientos-->
      <div id="tablaMovimientos1Centro" class="column" align="center">
        <!--
        `google-chart` encapsulates Google Charts as a web component, allowing you to easily visualize
        data. From simple line charts to complex hierarchical tree maps, the chart element provides a
        number of ready-to-use chart types.-->
        <a class="texto"><b>Ingresos y Gastos</b></a>
        <google-chart
          type='pie'
          options='{"title": ""}'
          cols='[{"label":"Saldos", "type":"string"}, {"label":"Importe", "type":"number"}]'
          rows='{{importearray}}'>
        </google-chart>
      </div>
      <!--Fin de gráfica de movimientos-->
      <!--Inicio de google map-->
      <div id="tablaMovimientos1Derecha" class="column" align="center">
        <a class="texto"><b>Localización</b></a>
        <div class="pull-right" hidden$="{{!verMapa}}" style="margin: 0% 4% 0% 0%;">
            <div id="map" name="map" style="width:370px;height:170px;"></div>
        </div>
      </div>
      <!--Fin de google map-->
    </div>

    <!---<button on-click="volverVsc">Volver</button>-->
    <div class="row">
      <div id = "boton" class="column">
        <button id= "botones" class="button" on-click="volverVsc" style="font-size:15px;">Volver a la consulta de cuentas</button>
      </div>
      <div id = "boton" class="column">
        <div id= "nobotones1" style="font-size:15px;"></div>
      </div>
      <div id = "boton" class="column">
        <div id= "nobotones2" style="font-size:15px;"></div>
      </div>
    </div>
    <div id= "barra" style="font-size:15px;float: right;width:100%;"></div>
    <table id="tablaMovimientos2" class="table table-striped">
      <thead>
        <th>Índice</th>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Moneda</th>
        <th>Tipo</th>
        <th colspan="2">Ciudad</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <template is="dom-repeat" items="{{item.movimientos}}">
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.fecha}}</td>
              <td>{{item.importe}}</td>
              <td>{{item.moneda}}</td>
              <td>{{item.tipo}}</td>
              <!--<td><a class="btn btn-lg" name="location" on-click="posicionMapa" itciudad = [[item.ciudad]] itpais = [[item.pais]] style="font-size:22px">{{item.ciudad}}</td>-->
              <td>{{item.ciudad}}</td>
              <td>
                <input type="radio" name="location" on-click="posicionMapa" itciudad = [[item.ciudad]] itpais = [[item.pais]]>
              </td>
            </tr>
          </template>
        </template>
      </tbody>
    </table>
  </template>



  <script>
    class MyVsm extends Polymer.Element {
      static get is() { return 'my-vsm'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          },
          iban:{
            type: String
          },
          cuentas:  {
            type: Array
          },
          calculado:  {
            type: Boolean,
            value: false
          },
          entradavsm: {
            type: Number,
            observer: '_entradavsmChanged'
          },
          importearray: {
            type: Array
          },
          verMapa: {
            type: Boolean,
            value: false
          }
        };
      }

      mostrarMovimientos(resultado){
        console.log("entra a mostrarMovimientos")
        console.log(resultado.detail.response)
        this.cuentas = resultado.detail.response
        this.calculado = true

        console.log("longitud: ", resultado.detail.response[0].movimientos.length)
        var importepositivo = 0
        var importenegativo = 0
        var importeaux = 0
        var longitudmovimientos = resultado.detail.response[0].movimientos.length
        longitudmovimientos = longitudmovimientos
        for (var i=0; i < longitudmovimientos; i++) {
          console.log("movimientos: ",resultado.detail.response[0].movimientos[i].importe)
          importeaux = Number(resultado.detail.response[0].movimientos[i].importe)
          if (importeaux > 0) {
            importepositivo = importepositivo + importeaux
          }
          else {
            importenegativo = importenegativo + importeaux
          }
        }
        console.log("importepositivo: ", importepositivo)
        console.log("importenegativo: ", importenegativo)
        importenegativo = (-1) * importenegativo
        this.importearray = ([["Ingresos",importepositivo],["Gastos",importenegativo]])
        console.log(this.importearray)
      }

      mostrarErrorMovimientos(error)  {
        console.log(error.detail.response)
      }

      _entradavsmChanged(newValue,oldValue){
        console.log("entra en _entradavsmChanged")
        this.importearray = ([["Ingresos",0],["Gastos",0]])
        this.verMapa = false
        this.cuentas = null
        this.$.obtenerMovimientos.headers.iban = this.iban
        this.$.obtenerMovimientos.generateRequest()
      }

      posicionMapa(e) {
        const locationaux = e.target.itciudad + "(" + e.target.itpais + ")"
        console.log("locationaux: ", locationaux)
        initMap(locationaux)
        this.verMapa = true
      }
      volverVsc() {
        console.log("entra en volverVsc")
        console.log(this.idcliente)
        this.dispatchEvent(new CustomEvent("volverdevsm", {"detail": {"id":this.idcliente}}))
      }
    }
    window.customElements.define(MyVsm.is, MyVsm);
  </script>

  <script src="my-map.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaIAlrhHg5njG18zbzifcRHf3NmI1OGik&callback=initMap"></script>

</dom-module>
