<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-vsc">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style include="shared-styles">
      [hidden]  {
        display: none !important;
      }
      :host {
        display: block;

        padding: 10px;

        font-size: 22px;
      }
      #consultaCuentas {
        position: absolute;
        left: 20%;
      	top: 0px;
        width: 60%;
        margin-top: 10%;
        background: radial-gradient(white, grey);
        border-radius: 50px 50px 50px 50px;
        padding: 0% 1% 5% 1%;
      }
      #tituloCuentas {
        color: #212121;
        font-size: 22px;
        font-weight: bold;
        padding: 1% 0% 0% 0%;
      }
      #tablaCuentas {
        background: radial-gradient(rgb(30,88,255), rgb(164,212,255));
        border-radius: 50px 50px 50px 50px;
        padding: 0% 0% 1% 0%;
      }
      #bordeCabeceraTabla {
        border-bottom-color: rgb(255,255,255);
        border-bottom-style: solid;
        border-bottom-width: 4px;
      }
      .internoCabeceraTabla {
        padding: 0% 0% 0% 5%;
      }
      .internoTabla {
        padding: 2% 0% 5% 1%;
      }
      #bordeInternoTabla {
        border-left-color: rgb(255,255,255);
        border-left-style: double;
        border-left-width: 4px;
        padding-left: 4px;
        margin-left: 4px;
      }
    </style>
    <iron-ajax  id="obtenerCuentas"
                url="http://miapi-apitechuaagz.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas"
                handle-a="json"
                on-response="mostrarCuentas"
                on-error="mostrarErrorCuentas">
    </iron-ajax>
    <!--Inicio mostrar cuentas-->
    <div id="consultaCuentas" align="center">
      <div id="tituloCuentas">
        <p>Sus cuentas</p>
      </div>
      <div>
        <p style="font-size:12px" align="left">* Información actualizada a fecha: {{fechasistema}}<p>
      </div>
      <table id="tablaCuentas" class="table table-condensed">
        <thead id="bordeCabeceraTabla" style="font-size:19px">
          <th class="internoCabeceraTabla">IBAN</th>
          <th>SALDO</th>
          <th colspan="2">ACCIONES</th>
        </thead>
        <tbody style="font-size:15px">
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td class="internoTabla">{{item.iban}}</td>
              <td id="bordeInternoTabla" class="internoTabla">{{item.saldo}}</td>
              <td id="bordeInternoTabla"><a class="btn btn-info" on-click="buscarMovimientos" itiban = [[item.iban]] style="border-radius: 50px 50px 50px 50px;font-size:12px" title="Ver movimientos">Ver movimientos</a><i class="material-icons">account_balance</i></td>
              <td><a class="btn btn-info" on-click="transferencia" itiban = [[item.iban]] style="border-radius: 50px 50px 50px 50px;font-size:12px" title="Hacer transferencia">Hacer transferencia</a><i class="material-icons">send</i></td>
            </tr>
          </template>
        </tbody>
      </table>
      <div id="tablaCuentas" hidden$="{{!errorvsc}}" align="center">
        <p style="margin:5%">{{errormensaje}}</p>
      </div>
    </div>
    <!--Fin mostrar cuentas-->
  </template>

  <script>
    class MyVsc extends Polymer.Element {
      static get is() { return 'my-vsc'; }
      static get properties() {
        return {
          idcliente:{
            type: Number
          },
          cuentas:  {
            type: Array
          },
          entradavsc: {
            type: Number,
            observer: '_entradavscChanged'
          },
          fechasistema: {
            type:String
          },
          errorvsc: {
            type: Boolean,
            value: false
          },
          errormensaje: {
            type:String
          }
        };
      }
      mostrarCuentas(resultado){
        console.log("entra a mostrarCuentas")
        console.log(resultado.detail.response)
        this.errorvsc = false
        this.cuentas = resultado.detail.response
      }
      mostrarErrorCuentas(error)  {
        console.log(error.detail.response)
        if (error.detail.request.xhr.status == 404) {
          this.errormensaje = "Todavía no tienen dada de alta ninguna cuenta. Póngase en contacto con su Gestor"
        }
        this.errorvsc = true
      }

      _entradavscChanged(newValue,oldValue){
        //window.sessionStorage.setItem("sessionEntradaVsm", 0)

        console.log("1. consultar cuentas _entradavscChanged")
        this.cuentas = null
        //Inicio de calcular fecha actual
        var fechaAux = new Date()
        var dd = fechaAux.getDate()
        var mm = fechaAux.getMonth()+1
        var yyyy = fechaAux.getFullYear()
        if (dd<10) {
          dd = "0"+dd
        }
        if (mm<10) {
          mm = "0"+mm
        }
        fechaAux = dd + "/" + mm + "/" + yyyy
        this.fechasistema = fechaAux
        //Fin de calcular fecha actual
        console.log(this.idcliente)
        console.log("2. consultar cuentas _entradavscChanged")
        this.$.obtenerCuentas.headers.id = this.idcliente
        console.log("3. consultar cuentas _entradavscChanged")
        this.$.obtenerCuentas.generateRequest()
      }
      buscarMovimientos(e)  {
        console.log("Buscar Movimientos")
        //const it = e.target.iban;
        //console.log(it)
        console.log("cuenta del botón")
        const itiban2 = e.target.itiban
        const id2 = this.idcliente //le paso el idcliente
        console.log(itiban2)
        console.log(id2)

        const entradavsm2 = Number(window.sessionStorage.getItem("sessionEntradaVsm")) + 1
        window.sessionStorage.setItem("sessionEntradaVsm", entradavsm2)
        console.log("entradavsm2: ", entradavsm2)
        const entradavsm2iban = entradavsm2 + "iban" + itiban2
        console.log("entradavsm2iban: ", entradavsm2iban)

        this.dispatchEvent(new CustomEvent("eventomov", {"detail":{"iban":itiban2,"idcliente":id2,"entradavsm":entradavsm2iban}}))
      }
      transferencia(e)  {
        console.log("Entra en transferencia")
        const itiban2 = e.target.itiban
        const id2 = this.idcliente //le paso el idcliente
        console.log("IBAN: ", itiban2)
        console.log("idcliente: ", id2)
        this.dispatchEvent(new CustomEvent("eventotransfe", {"detail":{"iban":itiban2,"idcliente":id2,}}))
      }
    }

    window.customElements.define(MyVsc.is, MyVsc);
  </script>
</dom-module>
