<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-vst">
  <template>
    <style include="shared-styles">
      [hidden]  {
        display: none !important;
      }
      :host {
        display: block;

        padding: 10px;

        font-size: 22px;
      }

      /* Create two equal columns that floats next to each other */
      .column {
        float: left;
        width: 50%;
        padding: 10px;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      #destino {
        float: left;
      	position: absolute;
      	left: 0px;
      	top: 0px;
        width: 75%;
        height: 75%;
        margin-top: 5%;
        padding: 16px;
      	border-radius: 0px 0px 50px 0px;
      	overflow:auto;
        color: RGB(255,255,255);
      	background-color: RGB(0,51,153);
      	z-index: 2;
      }

      #proceso {
        float: left;
      	position: absolute;
      	/*left: 244px;*/
        left:0px;
      	top: 0px;
        width: 75%;
        height: 75%;
        margin-top: 0%;
        padding: 16px;
      	border-radius: 0px 0px 50px 0px;
      	overflow:auto;
        color: RGB(255,255,255);
      	background-color: RGB(0,51,153);
      	z-index: 2;
      }

      #procesoIzquierda {
        font-weight: bold;
      }

      #procesoDerecha {
        border-left-style:solid;
        border-bottom-style:solid;
        border-color: RGB(0,0,0);
      }

      #finalizado {
        float: left;
      	position: absolute;
      	/*left: 488px;*/
        left:0px;
      	top: 0px;
        width: 75%;
        height: 75%;
        margin-top: 4%;
        padding: 16px;
      	border-radius: 0px 0px 50px 0px;
      	overflow:auto;
        color: RGB(255,255,255);
      	background-color: RGB(0,51,153);
      	z-index: 2;
      }

      #finalizadoIzquierda {
        border-left-style:solid;
        border-bottom-style:solid;
        border-color: RGB(0,0,0);
      }

      #finalizadoDerecha {
        border-left-style:solid;
        border-bottom-style:solid;
        border-color: RGB(0,0,0);
      }

      #botones {
        border-color: rgb(0,0,0);
        border-right-style: double;
        border-right-width: 4px;
        padding-right: 4px;
        margin-right: 4px;
      }

    </style>

    <iron-ajax id="hacerTransferencia"
               url="http://miapi-apitechuaagz.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/movimientocuenta/insertar"
               handle-a="json"
               method="POST"
               on-response="mostrarTransferencia"
               on-error="mostrarErrorTransferencia">
    </iron-ajax>

    <div id="destino">
      <div>
        <div style="font-weight: bold; margin-top:5%">
          <p>DESTINO</p>
          <form>
            IBAN:<br>
            <input style="color:RGB(0,0,0);font-weight: normal;" type="iban2" size="40" value="{{iban2::input}}"/>
            <span class="glyphicon glyphicon-question-sign" title="El IBAN es el identificador de la cuenta bancaria a nivel internacional"></span><br>
            DATOS DEL BENEFICIARIO:<br>
            <input style="color:RGB(0,0,0);font-weight: normal;" type="beneficiario" size="40" placeholder="Nombre y apellidos del beneficiario" value="{{beneficiario::input}}"/>
          </form>
        </div>
      </div>
      <div class="row" style="margin-top:5%;margin-left:5%">
        <a id= "botones" class="btn btn-info" on-click="ejdestino" style="font-size:22px">Continuar</a>
        <a id= "botones" class="btn btn-info" on-click="finalizar" style="font-size:22px">Volver</a>
      </div>
    </div>

    <div id="proceso" hidden$="{{!verproceso}}">
      <div id="procesoTodo" class="row" style="margin-top:5%">
        <div id="procesoIzquierda" class="column">
          <p>ORIGEN</p>
          <form>
            IBAN:<br>
            <input style="color:RGB(0,0,0);font-weight: normal;" type="iban" size="24" value="{{iban::input}}"/><br>
            IMPORTE:<br>
            <input style="color:RGB(0,0,0);font-weight: normal;" type="importe" size="24" value="{{importe::input}}"/>
            €<br>
            CONCEPTO:<br>
            <input style="color:RGB(0,0,0);font-weight: normal;" type="concepto" size="24" value="{{concepto::input}}"/>
          </form>
        </div>
        <div id ="procesoDerecha" class="column">
          <p style="font-weight: bold;">DESTINO</p>
          <p style="font-weight: bold;">IBAN</p>
          <p>{{iban2}}</p>
          <p style="font-weight: bold;"> DATOS DEL BANEFICIARIO</p>
          <p>{{beneficiario}}</p>
        </div>
      </div>
      <div class="row" style="margin-top:2%;margin-left:5%">
        <a id= "botones" class="btn btn-info" on-click="ejproceso" style="font-size:22px">Continuar</a>
        <a id= "botones" class="btn btn-info" on-click="finalizar" style="font-size:22px">Volver</a>
      </div>
    </div>

    <div id="finalizado" hidden$="{{!verfinalizado}}">
      <div style="font-weight: bold;">
        <p>RESUMEN</p>
      </div>
      <div id="finalizadoTodo" class="row" style="margin-top:4%;font-size:15px">
        <div id ="finalizadoIzquierda" class="column">
          <p style="font-weight: bold;">ORIGEN</p>
          <p style="font-weight: bold;">IBAN</p>
          <p>{{iban}}</p>
          <p style="font-weight: bold;"> IMPORTE</p>
          <p>{{importe}} €</p>
          <p style="font-weight: bold;"> CONCEPTO</p>
          <p>{{concepto}}</p>
        </div>
        <div id ="finalizadoDerecha" class="column">
          <p style="font-weight: bold;">DESTINO</p>
          <p style="font-weight: bold;">IBAN</p>
          <p>{{iban2}}</p>
          <p style="font-weight: bold;"> DATOS DEL BANEFICIARIO</p>
          <p>{{beneficiario}}</p>
        </div>
      </div>
      <div>
        <p>Transferencia realizada de manera correcta</p>
      </div>
      <div class="row" style="margin-top:1%;margin-left:5%">
        <a id= "botones" class="btn btn-info" on-click="finalizar" style="font-size:22px">Volver</a>
      </div>
    </div>

  </template>

  <script>
    class MyVst extends Polymer.Element {
      static get is() { return 'my-vst'; }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          iban: {
            type: String,
            observer: '_ibanChanged'
          },
          iban2: {
            type: String
          },
          beneficiario:{
            type: String
          },
          cuentas: {
            type: Array
          },
          importe: {
            type: Number,
            value: 0.00
          },
          concepto: {
            type: String
          },
          verproceso: {
            type: Boolean,
            value: false
          },
          verfinalizado: {
            type: Boolean,
            value: false
          }
        };
      }

      ejdestino() {
        this.verproceso = true
      }

      ejproceso() {
        this.verfinalizado = true
        //Inicio de calcular fecha actual
        var fechaAux = new Date()
        var dd = fechaAux.getDate()
        var mm = fechaAux.getMonth()+1
        var yyyy = fechaAux.getFullYear()
        if (dd<10) {
          dd = "0"+dd
        }
        if (mm<10) {
          mm = "0"+mm
        }
        fechaAux = dd + "/" + mm + "/" + yyyy
        //Fin de calcular fecha actual
        this.$.hacerTransferencia.headers.fecha = fechaAux
        this.$.hacerTransferencia.headers.importe = "-" + this.importe
        this.$.hacerTransferencia.headers.ciudad = "MADRID"
        this.$.hacerTransferencia.headers.pais = "ESPAÑA"
        console.log("IBAN: ", this.iban)
        console.log("Importe: ", this.importe)
        this.$.hacerTransferencia.generateRequest()
      }

      mostrarTransferencia(resultado){
        console.log("entra a mostrarMovimientos")
        console.log(resultado.detail.response)
        //this.cuentas = resultado.detail.response
      }
      mostrarErrorTransferencia(error)  {
        console.log(error.detail.response)
      }

      _ibanChanged(newValue,oldValue){
        console.log("entra en _ibanChanged")
        this.$.hacerTransferencia.headers.iban = this.iban
        //this.$.hacerTransferencia.generateRequest()
      }

      finalizar() {
        console.log("entra en finalizar")
        console.log(this.idcliente)

        const entradavsc2 = Number(window.sessionStorage.getItem("sessionEntradaVsc")) + 1
        window.sessionStorage.setItem("sessionEntradaVsc", entradavsc2)
        console.log("entradavsc2: ", entradavsc2)

        this.verproceso = false
        this.verfinalizado = false
        this.iban2 = null
        this.beneficiario = null
        this.importe = 0.00
        this.concepto = null

        this.dispatchEvent(new CustomEvent("volverdevst", {"detail": {"id":this.idcliente,"entradavsc":entradavsc2}}))
      }
    }

    window.customElements.define(MyVst.is, MyVst);
  </script>
</dom-module>
