<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;

        font-size: 22px;

        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        scroll-behavior: smooth;
        line-height: 1.5;
      }
    </style>

    <div class="card" style="background-image:url('../images/paisaje2.jpg');background-repeat: no-repeat;background-size:100% 100%" align="center">
      <div style="font-size:22px;font-weight: bold;margin:300px 100px 0px 0px">
      <p style="text-shadow: 2px 2px black;color:white">¿Preparado para gestionar tus cuentas donde quieras?</p>
      </div>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
